<form  class="content-form" >
<div class="card">
    <div class="inner-box" id="card">
      <div class="card-front">
        <div class="icons">
        <div class="Logo">
        
      </div>
           
      <div class="companyLogo">
     
      </div>
    </div>
        <!-- <h2>Registration</h2> -->

        <form #form="ngForm" (ngSubmit)="register(form)">
          <div class="row">   
              <input type="text" pattern="[ a-zA-Z]*" class="input-box" [ngClass]="{'error' : form.controls['name']?.errors && isSubmitted }" required name="name" [(ngModel)]="registration.name"placeholder="Name..">
          </div>
          <div class="row">   
            <input type="text" pattern="[ a-zA-Z]*"class="input-box" [ngClass]="{'error' : form.controls['position']?.errors && isSubmitted }" required name="position" [(ngModel)]="registration.position"placeholder="Position">
        </div>
        <div class="row">   
          <input type="email" email class="input-box" [ngClass]="{'error' : form.controls['email']?.errors&& form.controls['email']?.touched && isSubmitted }" required name="email" [(ngModel)]="registration.email" placeholder="Enter Your Email">
        </div>
      <div class="row">   
        <input type="text" pattern="[ a-zA-Z]*" class="input-box" [ngClass]="{'error' : form.controls['companyName']?.errors && isSubmitted }" required name="companyName"  [(ngModel)]="registration.companyName"placeholder="Entity / Organization">
     
      </div>
    <div class="row"> 
      <input type="text"  pattern="[0]{1}[0-9]{9}" (keypress)="($event.charCode >= 48 && $event.charCode < 58)" class="input-box" [ngClass]="{'error' : form.controls['phoneNumber']?.errors && form.controls['phoneNumber']?.touched && isSubmitted }" required name="phoneNumber" [(ngModel)]="registration.phoneNumber" placeholder="Phone Number" >
    
    </div>
    <span [hidden]="isHidden" >{{errorMessage}}</span>

          <button type="submit" class="submit-btn">Submit</button>
     
      </form>
       
    </div>

  </div>
  </div>
</form>
