<form  class="content-form" >
<div class="card">
    <div class="inner-box" id="card">
      <div class="card-front">
        <div class="icons">
        <div class="Logo">
        
      </div>
           
      <div class="companyLogo">
     
      </div>
    </div>
        <!-- <h2>Registration</h2> -->

        <form #form="ngForm" (ngSubmit)="register(form)">
          <div class="row">   
              <input type="text" class="input-box" [ngClass]="{'error' : form.controls['name']?.errors && isSubmitted }" required name="name" [(ngModel)]="registration.name"placeholder="Name..">
          </div>
          <div class="row">   
            <input type="text" pattern="[ a-zA-Z]*"class="input-box" [ngClass]="{'error' : form.controls['position']?.errors && isSubmitted }" required name="position" [(ngModel)]="registration.position"placeholder="Position">
        </div>
        <div class="row">   
          <input type="email" email class="input-box" [ngClass]="{'error' : form.controls['email']?.errors&& form.controls['email']?.touched && isSubmitted }" required name="email" [(ngModel)]="registration.email" placeholder="Enter Your Email">
        </div>
      <div class="row">   
        <input type="text" pattern="[ a-zA-Z]*" class="input-box" [ngClass]="{'error' : form.controls['companyName']?.errors && isSubmitted }" required name="companyName"  [(ngModel)]="registration.companyName"placeholder="Entity / Organization">
     
      </div>
    <div class="row"> 
      <input type="text"  class="input-box"  maxlength="15" class="input-box" [ngClass]="{'error' : form.controls['phoneNumber']?.errors && form.controls['phoneNumber']?.touched && isSubmitted }" required name="phoneNumber" [(ngModel)]="registration.phoneNumber" placeholder="Phone Number" >
    
    </div>
    <!-- <label class="labelradio">Are you okay with taking photos ?</label> -->
    <!-- <div class="radiobuttons" [ngClass]="{'error' : form.controls['mind']?.errors && isSubmitted }">
      <input class="radio" type="radio" #mind="ngModel" name="mind" value="yes"[(ngModel)]="okay"> yes
      <input class="radio" type="radio" required #mind="ngModel"  name="mind" value="no"[(ngModel)]="okay"> No
    </div> -->
    <!-- <div class="radiobuttons">
    <label class="container">The event will be documented (Pictures and Videos).
      <input type="checkbox" checked="checked" name="radio"  #mind="ngModel" value="yes" [(ngModel)]="okay">
      <span class="checkmark"></span>
    </label>

  </div> -->
  <div *ngIf="checkbox()" class="radiobuttons">
  <input type="checkbox" equirename="active" ngModel required  #mind="ngModel" name="mind" value="yes" [ngClass]="{'error' : form.controls['mind']?.errors && isSubmitted }">
  <label class="container">The event will be documented (Pictures and Videos).</label>
  </div>

    <span class="errorM" [hidden]="isHidden">{{errorMessage}}</span>

          <button type="submit" class="submit-btn">Submit</button>
     
      </form>
       
    </div>

  </div>
  </div>
</form>
