<div class="popup center">
    <div class="icon">
        <a >
            <img src="/assets/images/check.png"/>
        </a>
       
    </div>
    <div class="title">
        success!!
    </div>
  
    <div class="dismiss-btn">
        <button id="dismiss-popup-btn" (click)="closeDilog()">
            Close
         </button>
        <div class="prepared">
         <div class="label">
            <label >Prepared by:</label>
         </div>
        
         <div class="logo">
            <img src="/assets/images/iconnect.png"/>
         </div>
         </div>
         
       
    </div>
   
</div>

